@CHARSET "ISO-8859-1";

@font-face {
	/*R Definir fuentes del sitio*/
	font-family: "FontAwesome";
	src: url("../plugins/bootstrap/fonts/fontawesome-webfont.ttf") format("truetype");
}

@font-face{
font-family:"apple, serif";
src: url("../plugins/bootstrap/fonts/myriad-set-pro_bold.ttf");
}


/* fieldset y checkbox*/



/* fieldset y checkbox----------------------------------------------------------------------------------------*/


body {
	margin: 0;
	/*background-image: url("../img/fondopagina.jpg"); */
	font-size: 12px;
	margin-top: 100px;
	margin-bottom:100px;
}

header {
	position: fixed;
	top: 0px;
	left:0px;
	width: 100%;
	z-index: 999;
	margin:0 auto;
}

/*************SINCE V.0.1***********/

.navbar.navbar-static-top{
	background: #485a96;
}
.navbar-brand-custom{
    float: left;
    font-size: 12px;
    padding: 15px 15px;

}


.ico-15px {
    width: 15px;
    padding-bottom: 3px;
    vertical-align: middle;
}
.navbar-static-top .navbar-brand-custom {
    color: white;
}
.navbar-menu-top .navbar-brand-custom {
    color: black;
}
.navbar-menu-top a.navbar-brand-custom:focus, .navbar-menu-top a.navbar-brand-custom:hover {
    color: #ffa500;
}
.navbar.navbar-menu-top {
    background: white;
}
nav.navbar.navbar-static-top,nav.navbar.navbar-menu-top {
    margin-bottom: 0px;
}


.navbar-menu-top .navbar-header {
    display: table;
    width: 100%;
}
.navbar-menu-top .navbar-header {
    display: table;
    width: 100%;
}
.navbar-menu-top .navbar-brand-custom {
    display: table-cell;
    vertical-align: middle;
    float: none;
    font-weight: 700;
}
.navbar-menu-top ul.dropdown-menu {
    top: inherit;
}
/*********CUSTOM BOOTSTRAP*************************/
.col-xs-offset-1_5 {
	margin-left: 12.25%;
}
@media (min-width: 768px) {
	.col-sm-offset-1_5 {
    	margin-left: 12.25%;
	}
}
@media (min-width: 992px) {
	.col-md-offset-1_5 {
	    margin-left: 12.25%;
	}
}
@media (min-width: 1200px) {
	.col-lg-offset-1_5 {
	    margin-left: 12.25%;
	}
}


/***************BANNER**************************/

div#DivHomeSearch {
    background: no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0px;
}
.title-main h1 {
    font-size: 84px;
    color: #db9600;
}
.title-main{
    text-align: left;
    padding: 30px 0px;
}
.sub-title {
    color: #ededed;
    padding-left: 15px;
}

/*****************ULTIMAS PUBLICACIONES*************/
.last-publications-title h2 {
    font-size: 36px;
    padding: 25px;
}
span.t-orange {
    color: #485a96;
    text-transform: uppercase;
}
span.t-blue {
    color: #ffb000;
    text-transform: uppercase;
}
.last-publications{
	background-color: #f6f8f9;
	padding: 75px 0px;
}
.last-publications .panel {
    border-radius: 0px;
}
.carousel .panel-footer {
    background-color: white;
}
/**************MI HOGAR************************/
.full-img-fixed {
    background: no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0px;
}
.my-house-landing {
    padding: 75px 0px;
    background-color: white;
}
.my-house-landing .session-title{
	color: white;
}
.my-house-landing h2 {
    font-size: 36px;
    padding: 10px 0px;
}
.my-house-landing .session-body{
	color: white;
}
.my-house-landing-bottom {
    padding: 50px 0px;
    background-color: white;
}

/***************noticias-inmobilarias***************/
.noticias-inmobilarias{
	background-color: #f6f8f9;
    padding: 60px 0px;
}

.noticias-inmobilarias h2{
	font-size: 36px;
	padding: 50px 0px;
}
/*****************FOOTER****************************/

html, body {
    background-color: #F3F3F3;
    height: 100%;
    margin: 0;
    padding: 0;
}


.contents {
    height: 1500px;
}

footer {
    background-color: #566fa5;
    width: 100%;
    padding: 90px 0px 30px 0px;
}

.links_footer > h5 {
    color: #ffc23c;
    font-weight: bold;
    margin-bottom: 20px;
}
.links_footer > ul a, .links_footer > ul li  {
    color: white;
}
footer .col-sm-3 {
    border-right: 1px solid white;
        min-height: 260px;
}
footer ul {
    padding: 0px;
}
footer .social-foot{
    width: 100%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.links_footer {
    margin: 0px 20px;
}

.ico-20px {
    width: 20px;
    padding-bottom: 3px;
}


/*****COROUSEL***********************/

.item > div{
    display: table;
    height: 80%;
    margin: auto;
}
.img_thumb {
    border-radius: 0px;
    padding: 0px;
    background-color: white;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    float: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.img_thumb img {
    z-index: -1;
    vertical-align: middle;
    max-width: 100%;
}
.vertical-div{
    vertical-align: middle;
    display: table-cell;
}

a.left.carousel-control {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
    width: 0px;
}
i.glyphicon.glyphicon-chevron-left {
    border: 1px solid blue;
    margin-left: 0px;
    border-radius: 15px;
    left: -40px;
    color: blue;
    font-size: 25px;
}
a.right.carousel-control {
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0) 0,rgba(0,0,0,.0001) 100%);
    width: 0px;
}
i.glyphicon.glyphicon-chevron-right {
    border: 1px solid blue;
    margin-right: 0px;
    border-radius: 15px;
    right: -40px;
    color: blue;
    font-size: 25px;
}

img.img-responsive {
    display: inline-block;
    height: 300px;
    min-width: 300px;
}

.carousel .carousel-inner {
    position: initial;
}
.panel-footer.text-center {
    display: table-row;
}
.carousel ol.carousel-indicators {
    bottom: -30px;
}
a.img-link {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.img_thumb .img_cont {
    margin: auto;
    display: table;
}
.img_thumb .img_desc {
    width: calc(100% - 8px);
}
.noticias-inmobilarias .img_thumb .img_cont, .noticias-inmobilarias .img_thumb .img_desc,.noticias-inmobilarias .img_thumb .img-link {
    height: 400px;
}

.img_desc {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
    display: table;
    margin: 0px;
    font-size: 16px;
}
/**************NOTIFICACIONES*******************/

#theCarousel-news .panel-footer {
    padding: 25px;
    margin: auto;
}
#theCarousel-news .panel-footer a {
    padding: 25px;
    display: block;
}


/*************DETALLE DE PUBLICACION*************/
.detail-publication {
    background-color: white;
    padding: 50px 0px;
}
.detail-publication .title {
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}
.download-pdf{
    color: #ffffff;
    padding: 10px 20px;
    background-color: orange;
    display: inline-block;
    min-width: 110px;
}
.suggest-cont img {
    width: 80px;
}
.suggest-cont {
    padding-top: 5px;
}
i.fa.fa-thumbs-up {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}
i.fa.fa-thumbs-up.onLike:hover {
    color: #1267a9;
}
i.fa.fa-thumbs-up.active{
    color: #1b7fcc;
}
.vertical-middle {
  display: table;
}
.vertical-middle > span {
  display: table-cell;
  vertical-align: middle;
}
.likebtn-button {
    background-color: #fafafa;
    border: 1px solid #C6C6C6;
    color: #555555;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: visible;
    padding: 1px 0 1px 3px;
}

span.lb-count {
    border-left: 1px solid #C6C6C6;
    color: black;
    font-weight: normal;
    height: 16px;
    padding: 0 7px 0 6px;
    position: relative;
    top: 1px;
    vertical-align: middle;
}
 

span.badge-publicar{
  background: #485A96;
  border-radius: 0px;
}
/************************************/
 
/************************************/

.subir-img-active
{
    height: 120px ; 
    width: 100px ; 
    border: 1px dashed #999 ; 
    float: left ;
    margin-left: 10px ; 
    background-image: url("../img/camara.png");
    background-size: 60px 60px ;
    background-repeat: no-repeat ;
    background-position: center center ;
    cursor: pointer;
}


/***********CREAR PUBLICACION***************/
.contFormulario {
    background-color: white;
    padding: 50px 0px;
}
.formulario{
    border: black 6px double;
    padding: 8px;
}

/**********LIST PUBLICACIONES**************/
.list-publication {
    background-color: white;
    float: left;
    width: 100%;
}
.detail-publication {
    background-color: #f6f8f9;
    padding: 50px 0px;
}
.publication-cont {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.publication-cont .publication-tittle {
    font-size: 32px;
}
.publication-cont .price {
    color: #f19700;
    font-size: 32px;
    font-weight: bold;
}
.publication-cont .date_create {
    font-size: 12px;
    color: #797979;
}
.publication-cont .likes {
    font-size: 12px;
    color: #797979;
}
.publication-cont .address {
    font-weight: bold;
    font-size: 12px;
}
.publication-cont .address .fa{
    color: #f19700;
}
.publication-cont .user {
    font-size: 16px;
    color: #3a5a98;
}
.info-publication {
    font-size: 12px;
}
.publication-info {
    padding: 10px 25px;
}

.line-form{
    background-color: #f19700;
    border: 1px solid;
    border-color: #f19700;
    margin-bottom: 18px; 
}

.titles-form{
    font-size: 18px;

}

.iconos-form{
    color: #485a96;
    padding: 2px;
    margin: 2px;
}

.iconos-form2{
    color: #f19700;
    padding: 2px;
    margin: 2px;
}

.content-icons{
    display: inline;
    min-width: 50px;
    margin-left: 28px; 
}

.content-checkbox{
    margin-left: 60px;
}

.icons-dot{
    font-size: 7px !important;
    color: #485a96;
    margin-left: 15px;
}

.buttons-detalle{
    min-width: 80px;
}
/***Filtros***/
.filters-publication{
    border-right: 1px solid #ccc;
}

.filters-publication h3{
    font-size: 18px;
    font-weight: bold;
}
.filters-publication h4{
    font-size: 14px;
    font-weight: bold;
}
.breadcrumb {
    border-bottom: 1px solid #ccc;
}

.preguntas{
    color: black;
margin-top: 50px;
margin-bottom: 50px

}

.recomendaciones{
    color: black;
margin-top: 50px;
margin-bottom: 30px
}

.titulo{
    margin: 0 0 0 0;
}